<%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    
    <div class="container" id="question-box">
        <hr>
        <h1 id="question-id">Questions</h1>
        <br>
        <a href="/project/asksomething/question" class="btn btn-primary">Ask something</a>
        <hr>
        <% questions.forEach(question => { %>
            <br>
            <div class="card text-white bg-dark mb-3" data-anime="left">
                <div class="card-header">
                    <h3><%= question.title %></h3>
                </div>
                <div class="card-body">
                    <%= question.description %>
                </div>
                <div class="card-footer">
                    <a href="/project/asksomething/question/<%= question.id%>"><button class="btn btn-primary">Answers</button></a>
                </div>
            </div>
        
        <% }) %>

    </div>



</body>
<%- include('./partials/footer.ejs')%>