<%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    <br><br>
    <div class="container" id="question-box">
        <hr>
        <center><h2>Question</h2></center>
        <hr><br>
        <div class="card text-white bg-dark" data-anime="left">
            <div class="card-header">
                <h3><%= question.title %></h3>
            </div>
            <div class="card-body">
                <%= question.description %>
            </div>
            <div class="card-footer">
                <p class="card-date">Date: <%= question.createdAt %> </p>
            </div>
        </div>
        <br>
        <form method="POST" action="/project/asksomething/answer">
            <label for="body">Answer the question:</label>
            <br>
            <textarea placeholder="Write your answer" name="body" class="form-control" minlength="10" required></textarea>
            <br>
            <input type="hidden" name="question" value="<%= question.id %>">
            <button type="submit" class="btn btn-primary">Answer</button>&nbsp; <button id="btnRedirect" class="btn btn-primary" type="button" onclick="/project/asksomething">Go back to questions</button>
            <script type="text/javascript">
                document.getElementById("btnRedirect").onclick = function () {
                    location.href = "/project/asksomething";
                };
            </script>
        </form>
        <br><br>
        <%  if(answers == 0){ %> 
            <br>
           <center><h3>This question has no answers</h3></center>
           <br><br><br><br>
        <% } else { %>
            <hr>
            <center><h2>Answers</h2></center>
            <hr>
            <% answers.forEach(answer => {%>
                <br>
                <div class="card text-white bg-dark" data-anime="left">
                    <div class="card-body ">
                        <p><%= answer.body %></p>
                    </div>
                    <div class="card-footer">
                    <p class="card-date">Date: <%= answer.createdAt %> </p>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
    <br>
</body>
<%- include('./partials/footer.ejs')%>